body {
  display: flex;
  margin: 0;
  max-height: 100vh;
  background-color: #f0f0f0;
  font-family: "Montserrat";
  background-size: contain;
  position: relative;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(bg_img.jfif) no-repeat center center;
  background-size: cover;
  opacity: 1;
  z-index: -1;
}
h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.separator {
  border-top: 1.5px solid #42434a;
  margin-top: 10px;
  margin-bottom: 10px;
}
.chat-container {
  margin: 10px;
  display: flex;
  width: 100%;
}
.chatbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f0f0f0;
  opacity: 0.6;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.chatbar span {
  color: black;
}
.chatbar p {
  font-size: small;
}
.chatbar h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #0360d2;
  cursor: pointer;
}
.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #42434a;
  --border-radius: 30px;
  --after-border-radius: 1px;
  border: 1px solid black;
  position: relative;
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease, box-shadow 0.2s ease;
  background: var(--input-bg, #fff);
}
.form:hover {
  box-shadow: 1px 2px 5px #303033;
}
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
.form:focus-within {
  border-radius: var(--after-border-radius);
}
input:focus {
  outline: none;
}
.form:focus-within:before {
  transform: scale(1);
}
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
svg {
  cursor: pointer;
}
.form svg {
  width: 17px;
  margin-top: 3px;
}
